<header class="site-header home-header">
  <div class="pure-g" id="home_header">
    <div class="pure-u-1">
      <h1><%= link_to 'leancook', root_path, class: 'pure-menu-heading' %></h1>
    </div><!-- .pure-u-1 -->
  </div><!-- .pure-g -->
  </div><!-- .pure-g -->
</header>

about