# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d31a40350c4b796e6b00769f5195d6feb9a2b6f6e0d35a01443afa077eccd14e68ee4b570d64c18fd30c8ab68c7ddd696ee712488dd08199ef67b03f77146701

test:
  secret_key_base: 88e9cd2675781e54934fcb2ab87fa089edecc0fcca9a34721f53366e87348f2b881bea931a5fe2bf4571ffa1997cabb34aea606bf0552a0697ce4ed509225bf2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
