/***** COLORS *****/
$purple_dark: #3C072E;
$purple_light: #85274E;
$pink: #E32353;
$creme: #FFC6A9;
$yellow: #FFF2B7;

$background_main: #fff;

/***** FONTS *****/
$font_lato: 'Lato', sans-serif;
$font_merriweather: 'Merriweather', serif;


/***** FONT WEIGHTS *****/

$font_thin: 100;
$font_light: 300;
$font_normal: 400;
$font_semibold: 500;
$font_bold: 700;


/*****************************************/
/************* GENERAL STYLES ************/
/*****************************************/

*, html, body, input, textarea, button{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  font-family: $font_lato;
}

a{
  text-decoration: none;
  -webkit-transition: all 0.05s;
  -moz-transition: all 0.05s;
  transition: all 0.05s;
  &:hover{
    text-decoration: underline;
  }
}

html{
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  //overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body{
  min-height: 100%;
  font-size: 100%;
}

body{
  font-family: $font_lato;
  font-weight: $font_normal;
  font-size: 18px;
  line-height: 32px;
  height: 100%;
  color: $purple_dark;
  padding: 0;
  margin: 0;
  background-color: $background_main;
  -webkit-overflow-scrolling: touch;
}

img{
  max-width: 100%;
  height: auto;
}

.pure-g{
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
}//.pure-g

.pure-input{
  padding: 15px 20px;
  border: 1px solid $purple_light;
  border-radius: 3px;
  font-family: $font_lato;
  font-weight: $font_light;
  outline: none;
  font-size: 1.25em;
}

.pure-button{
  &.pure-button-primary, &.pure-button-secondary{
    text-transform: uppercase;
    text-align: center;
    color: $yellow;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 1.3em;
    font-weight: $font_light;
    font-family: $font_lato;
    cursor: pointer;
    background-color: $purple_light;
    border: none;
    outline: none;
    box-shadow: none;
    border: 2px solid transparent;
    &:hover{
      background-color: $creme;
      color: $purple_light;
    }
    &:active{
      border-color: $purple_light;
      color: $purple_light;
      background-color: #fff;
    }
  }//.pure-button-primary, .pure-button-secondary
  &.pure-button-secondary{
    padding: 7px 25px;
    font-size: 1em;
  }//.pure-button-secondary
}//.pure-button

/**************************************/
/************* SITE HEADER ************/
/**************************************/

.site-header{
  padding: 25px 0px;
  text-align: center;
  background-color: $yellow;
  h1, h2{
    font-family: $font_lato;
    font-weight: $font_light;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-shadow: none;
    text-align: left;
    font-size: 3em;
    padding-left: 80px;
    min-height: 82px;
    line-height: 75px;
    color: $purple_light;
    background: transparent image-url('logo.png') 0px center no-repeat;
    a{
      color: $purple_light;
      text-decoration: none;
    }
  }//h1, h2
  h2{
    font-size: 1.8em;
    padding-left: 52px;
    background: transparent image-url('logo-mini.png') 0px center no-repeat;
    float: left;
  }
  &.home-header{
  }//.home-header
  &.search-header{
    overflow: hidden;
    padding: 0px;
  }//.search-header
  .header-search-form{
    display: inline-block;
    float: right;
    text-align: right;
    max-width: 70%;
    margin-top: 20px;
    .pure-input{
      padding: 5px 10px 6px 10px;
      font-size: 1.2em;
      border-color: $purple_light;
    }
    .text-field{
      display: inline-block;
    }//.text-field
    .submit-field{
      display: inline-block;
      margin-left: 5px;
      .pure-button.pure-button-secondary{
        padding: 7px 25px 6px 25px;
      }
    }//.submit-field
  }//.header-search-form
}//.site-header

/***************************************/
/************* MAIN CONTENT ************/
/***************************************/

.loading{
  margin-top: 2em;
  font-size: 1.4em;
  text-align: center;
  color: $pink;
  span.spinner{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 60px auto;
    background-color: $pink;

    border-radius: 100%;  
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
      -webkit-transform: scale(1.6);
      opacity: 0;
    }
  }

  @keyframes scaleout {
    0% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 100% {
      transform: scale(1.6);
      -webkit-transform: scale(1.6);
      opacity: 0;
    }
  }
}//.loading

.main-content{
  &.home-search{
    margin-top: 4em;
    text-align: center;
    h2{
      font-weight: $font_bold;
      font-size: 2em;
      margin-bottom: 1.5em;
    }
    .home-search-form{
      .pure-input{
        width: 100%;
      }
      .text-field{
        margin-bottom: 1em;
      }//.text-field
      .submit-field{

      }//.submit-field
    }//.home-search-form
  }//.home-search
  &.search-content{
    margin-top: 2em;
    .recipe-boxes{
      text-align: justify;
      font-size: 0;      
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
      .recipe-box{
        text-align: left;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin-bottom: 2.5em;
        a{
          display: inline-block;
          color: $purple_light;
          text-decoration: none;
          border: 1px solid transparent;
          padding: 5px;
          border-radius: 3px;
          -webkit-transition: all 0.15s;
          -moz-transition: all 0.15s;
          transition: all 0.15s;
          img{
            width: 100%;
          }
          h3{
            margin: 0;
            font-size: 1.2em;
            line-height: 1.3em;
            font-weight: $font_bold;
            margin-bottom: 0.4em;
          }//h3
          .ingredients{
            line-height: 1.3em;
            color: #777;
            font-size: 0.95em;
          }
          &:hover{
            color: $pink; 
            border-color: $pink;
            .ingredients{
              color: #333;
            }
          }
        }//a
      }//.recipe-box
    }//.recipe-boxes
  }//.search-content
}//.main-content



/****************************************/
/************ MEDIA QUERIES *************/
/****************************************/

@media (min-width: 75em){
}

@media (max-width: 68em){
  
}

@media (max-width: 50em){
}

@media (max-width: 46.8em){
}

@media (max-width: 42em){
  .site-header{
    .header-search-form{
      max-width: 70%;
      .pure-input{
        width: 80%;
      }
      .pure-button.pure-button-secondary{
        padding: 7px 15px;
      }//.pure-button-secondary
      .text-field{
      }//.text-field
      .submit-field{
      }//.submit-field
    }//.header-search-form
  }//.site-header
  .main-content{
    &.search-content{
      .recipe-boxes{
        .recipe-box{
          width: 47.5%;
        }
      }
    }
  }
}
@media (max-width: 39em){
  .site-header{
    text-align: center;
    h1, h2{
      float: none;
      margin: 0;
    }
    .header-search-form{
      margin: 0px 0px 1em 0px;
      float: none;
      width: 100%;
      max-width: 100%;
      text-align: center;
      .pure-input{
        width: 100%;
      }
    }//.header-search-form
  }//.site-header
}
@media (max-width: 38em){
  .main-content{
    &.home-search{
      h2{
        font-weight: $font_bold;
        font-size: 1.7em;
        margin-bottom: 1.5em;
      }
    }//.home-search
    &.search-content{
      .recipe-boxes{
        .recipe-box{
          width: 100%;
        }
      }
    }
  }//.main-content
}

@media (max-width: 31em){
  .main-content{
    &.home-search{
      h2{
        font-weight: $font_bold;
        font-size: 1.5em;
        margin-bottom: 1.5em;
      }
    }//.home-search
  }//.main-content
}






/****
#wrapper {
  margin: 0 auto;
  padding-top: 0;
}

header h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 90px;
  line-height: 20px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 2px #ccc;
  text-align: center;
}

.search {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 90px;
  min-height: 300px;
}

.buttons button{
  margin-top: 1em;
  float: right;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.recipe-box {
    overflow: hidden;
    position: relative;
    height: 350px;
    text-align: center;
}
.recipe-box img {
    max-width: 100%;
    height: auto;
    height: 250px;
}
**/