/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require pure
 */

#wrapper {
  margin: 0 auto;
  padding-top: 0;
}

header h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 90px;
  line-height: 20px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 2px #ccc;
  text-align: center;
}

.search {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 90px;
  min-height: 300px;
}

.buttons button{
  margin-top: 1em;
  float: right;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.recipe-box {
    overflow: hidden;
    position: relative;
    height: 350px;
    text-align: center;
}
.recipe-box img {
    max-width: 100%;
    height: auto;
    height: 250px;
}
